*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.welcome-message{
    display:flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align:center;
    margin: 26px;
    padding: 30px;
    

}

#color-box {
     display: flex;
    margin: 15px;
    align-items: center;
    justify-items: center; 
    background-color:rgb(219,122,147);
    width:150px;
    height:150px;
}

